.app__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-scale-gray-7);

}

.app__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.app__h1-ubuntu {
  color: var(--color-scale-gray-1);
  font-family: var(--font-base);
}
.p__ubuntu {
  color: var(--color-scale-gray-1);
  font-family: var(--font-base);
}

.headshot {
  width: 6rem;
  height: 6rem;
  border-radius: 50%
}