* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --font-base: 'Ubuntu', sans-serif;
  --color-scale-black: #010409;
  --color-scale-white: #ffffff;
  --color-scale-gray-0: #f0f6fc;
  --color-scale-gray-1: #c9d1d9;
  --color-scale-gray-2: #b1bac4;
  --color-scale-gray-3: #8b949e;
  --color-scale-gray-4: #6e7681;
  --color-scale-gray-5: #484f58;
  --color-scale-gray-6: #30363d;
  --color-scale-gray-7: #21262d;
  --color-scale-gray-8: #161b22;
  --color-scale-gray-9: #0d1117;
  --color-scale-red-0: #ffdcd7;
  --color-scale-red-1: #ffc1ba;
  --color-scale-red-2: #ffa198;
  --color-scale-red-3: #ff7b72;
  --color-scale-red-4: #f85149;
  --color-scale-red-5: #da3633;
  --color-scale-red-6: #b62324;
  --color-scale-red-7: #8e1519;
  --color-scale-red-8: #67060c;
  --color-scale-red-9: #490202;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}